*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body{
    background: linear-gradient(135deg, #0F172A, #1E293B);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
}

.container{
    width: 100%;
    /* max-width: 480px; */
    text-align: center;
}


.input-form{
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.city-input{
    padding: 1rem 1.2rem;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    color: white;
}

input:focus{
    border: 1px solid turquoise;
}


.search-btn{
    /* width: 60px; */
    border: none;
    border-radius: 50px;
    background-color: turquoise;
    color: white;
    padding: 1rem;
    backdrop-filter: blur(10px);
    font-size: 2rem;
    cursor: pointer;
    transition: 0.25s ease;
}

.search-btn:hover{
    background-color: hsl(174, 72%, 36%);
}

.search-btn:active{
    background-color: hsl(174, 72%, 86%);
}

.weather-card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(39, 100%, 75%));;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 30px;
    min-height: 350px;
    margin-bottom: 2rem;
    color: black;
    border: 1px solid turquoise;
    flex-basis: 30%;
}

.city-display{
    font-size: 4rem;
    font-weight: bold;
}

.temp-display{
    font-size: 3rem;
    font-weight: bold;
}

.humidity-display{
    font-size: 1.5rem;
    font-weight: bold;
}

.description-display{
    font-size: 1.5rem;
    font-weight: bold;
}

.emoji{
    font-size: 7rem;
}

.display-city-image{
    /* width: 100%; */
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.display-city-image p{
    font-size: 3rem;
}

.display-city-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.info-container{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.display-fact{
    /* width: 200px; */
    min-height: 390px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    flex-basis: 20%;
    padding: 10px;
    font-size: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.display-fact::-webkit-scrollbar{
    width: 6px;
}

.display-fact::-webkit-scrollbar-thumb{
    background: #b0b0b0;
    border-radius: 10px;
}

.display-fact::-webkit-scrollbar-track{
    background: transparent;
}



.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  /* margin: 20px auto; */
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}









@media(max-width: 1024px){
    .info-container{
        flex-direction: column;
        justify-content: center;
    }

    .input-form{
        gap: 12px;
    }

    .city-input{
        flex-basis: 80%;
        font-size: 1.3rem;
    }

    .search-btn{
        flex-basis: 15%;
         font-size: 1.3rem;
    }
    .display-city-image{
        width: 100%;
        flex-basis: 50%;
    }
    .display-city-image img{
        width: 100%;
        /* height: 400px; */
    }
}









